@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

@media only screen and (min-width:300px){
    

    ul{
        display: none;
    }
    #Nav-bar img{
        position:static;
         
         left: 20%;
         margin-top: -10%;
         margin-left: 15%;
        width:30%;
        right: 0%;
        border-radius: 100%;
        
    
    }
    header img{
        
        position:relative;
        bottom: 10%;
        width: 0%;
        height: 300px;
        
        
    }
    .ref::before {
        
        position:absolute;
        font-weight: bold;
        color: rgb(255, 183, 27);
        content: "Ebenezer Cross Church ";
        font-size: 200%;
        margin-left: 0%;
        line-height: 100%

      }

      .openbtn{
          color: rgb(0, 0, 0);
          text-align: center;
          
        
          width: 10%;
          margin: 2%;
          border-color: transparent;
          background-color: #dadbdd;
          margin-left: 2%;
          
          
          
      }
    
      .sidebar {

        position: fixed;
        
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        color: #ffa228;
        
      }
      
      .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #f7ac21;
        display: block;
        transition: 0.3s;
      }
      
      .sidebar a:hover {
        color: #f1f1f1;
      }
      
       .closebtn {
        width: 70%;
        color: rgb(241, 153, 52);
        position: absolute;
        top: 0%;
        
        font-size: 200%;
        margin-left: 50px;
      }
      
      
      
      .openbtn:hover {
        background-color: rgb(255, 202, 104);
        
      }

}
#All{
    transition: margin-left .5s;
    padding: 16px;
  }
  .openbtn{
      
      width: 50%;
      color: #ffa228;
      padding: 10%;
      margin: 10%;

  }
  .info-Android button{
      width: 200%;
  }
  #mySidebar button{
      width: 70%;
  }
  #mySidebar a{
      font-family:Arial, Helvetica, sans-serif
  }
  
  
  #Nav-bar span{
      position: absolute;
      left: 50%;
      top: 10%;
      
  }
  .openbtn{
      margin-right: 50%;
  }
  header img{
      
      width: 90%;
      height: 10%;
      opacity: 0.5;
      

  }
#mySidebar{
    background-color: rgb(255, 255, 255);
}

  *{
      margin: 0.5%;
      
  }
  .closebtn{
      
      width: 50%;
      margin-left: 60%;
  }
  #mySidebar a:hover{
      color: #000000;
      cursor: pointer;

  }
  #header1 img{
position: relative;
width: 340px;
height: 150px;



  }
  #headerTop img{
      position: absolute;
      display: inline ;
      width: 30%;
      border-radius: 50%;
      top:22%;
      left: 30%;
      
      
      

  }
  
  header h1{
    
    margin-top: 2%;
    margin-left: 1%;
    color: #ffa228;

    font-weight: bold;
    
    font-size: 170%;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
    
}
.Border1 img{
   margin-left: 5%; 
   width: 300px;
   height: 200px; 
}
  



@media only screen and (min-width:900px){
    .info-Android{
        display: none;
    }
    .openbtn{
        display: none;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 5%;
        margin-left: 10%;
        margin-right: 2%;
        font-size: large;
        list-style-type: none;
        margin-top: 5%;
        
    }
    .ref::before {
        width: none;
        position:absolute;
        font-weight: bold;
        color: rgb(255, 183, 27);
        content: "Ebenezer Cross Church ";
        font-size: 200%;
        margin-left: 61%;
        line-height: 100%
    
        ;}
    li{
        font-family:'League', Gothic,
    }
    li:hover{
        color: rgb(238, 238, 67);
        cursor:pointer
    }
    #Nav-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    
    
    
    header{
        position: relative;
    }
    header img{
    
        position:relative;
        bottom: 10%;
        width: 100%;
        height: 300px;
        
        
    }
    header h1{
        position:relative;
        margin-top: 2%;
        margin-left: 25%;
        font-size: 50px;
        text-transform: uppercase;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
        
        
    }
    #headerTop img{
        position:absolute;
        width: 15%;
        bottom: 40%;
        margin-left: 40%;
        border-radius: 30%;
    
    }
    #imgFlue{
        opacity: 0.15;
        
    }
    .Border1 img{
        width: 90%;
        margin-left: 5%;
    }
    .class-1{
        margin-top: 2%;
    }
    .Border1{
        position:relative;
    
    }
    .Border1 h2{
    
        position: absolute;
        top: 5%;
        left: 30%;
        bottom: 90%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 300%;
    
    }
    #imgFlue1{
        opacity: 0.5;
    }
    .Border1 p{
        position: absolute;
        top: 30%;
        left: 25%;
        background-color: aliceblue;
        border-radius: 20%;
        padding: 2%;
    }
    #diamond{
        margin-bottom: 5%;
        text-align: center;
        font-size: 50px;
        text-transform: uppercase;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    }
    #section2{
        
        width: 70%;
        margin: 2%;
        border:1px solid #000000;
        text-align: center;
        padding-bottom: 10%;
        box-shadow: 10px 10px 10px 10px #aaaaaa;
        margin-left: 15%;
    }

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5%;
    margin-left: 10%;
    margin-right: 15%;
    font-size: large;
    list-style-type: none;
    margin-top: 5%;
    
}
li{
    font-family:'League', Gothic,
}
li:hover{
    color: rgb(238, 238, 67);
    cursor:pointer
}
#Nav-bar{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    
}


header{
    position: relative;
}
header img{

    position:relative;
    bottom: 10%;
    width: 100%;
    height: 300px;
    
    
}
header h1{
    position:relative;
    margin-top: 2%;
    margin-left: 25%;
    font-size: 50px;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
    
}
#headerTop img{
    position:absolute;
    width: 15%;
    bottom: 30%;
    margin-left: 40%;
    border-radius: 30%;

}

.Border1 img{
    width: 90%;
    margin-left: 5%;
}
.class-1{
    margin-top: 2%;
}
.Border1{
    position:relative;

}
.Border1 h2{

    position: absolute;
    top: 5%;
    left: 30%;
    bottom: 90%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 300%;

}
#imgFlue1{
    opacity: 0.5;
}
.Border1 p{
    position: absolute;
    top: 30%;
    left: 25%;
    background-color: aliceblue;
    border-radius: 20%;
    padding: 2%;
    width: 50%;

}

/* Hover Methods*/

.button {
    
    border-radius: 10% 10% 10% 10%;
    position: relative;
    text-align: center;
    padding: 0.67em;
    overflow: hidden;
    text-decoration: none;
    font-size: 2em;
    outline: none;
    color: rgb(241, 153, 52);
    background: transparent;
    font-family: 'raleway', sans-serif;
    width: 40%;
    height: 200px;
    

    
}

.button span {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.button:before,
.button:after {
    content: '';
    position: absolute;
    top: 0.67em;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s,opacity .6s;
    -moz-transition: .4s,opacity .6s;
    -o-transition: .4s,opacity .6s;
    transition: .4s,opacity .6s;
}

#diamond{
    margin-bottom: 5%;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#section2{
    
    width: 70%;
    margin: 2%;
    border:1px solid #000000;
    text-align: center;
    padding-bottom: 10%;
    box-shadow: 10px 10px 10px 10px #aaaaaa;
    margin-left: 15%;
}

    
}

/* */



  